/* Estilos para página productos */

.tarjeta--sp:hover {
    transform: scale(1.1); /* Aumenta el tamaño al pasar el mouse */
    transition: transform 0.5s ease; /* Suaviza la transición */
    border: .5px solid black; /* Agrega borde al pasar el mouse */
    box-shadow: .5px .5px .5px black; /* Agrega sombra al pasar el mouse */
}